<div class="pull-right">
  <%= link_to 'Show', @group, :class => "btn btn-default" %>
  <%= link_to 'Back', osul_groups_path, :class => "btn btn-default" %>
</div>
<h1>Editing group</h1>
<div class="col-xs-12 col-sm-12">

  <%= render 'form' %>

</div>

