<li>
  <h2>
    <%= link_to collection.title, hydra_admin_collection_path(collection) %>
  </h2>
  <div class="row">
    <div class="col-sm-3">
      <%= link_to hydra_admin_collection_path(collection) do %>
        <%= image_tag "site_images/collection-icon.svg" %>
      <% end %>
    </div>
    <div class="col-sm-9">
      <%= render 'shared/attributes', work: collection %>
    </div>
  </div>
</li>
