<h2 class="sr-only">Descriptions</h2>
<input type="hidden" id="collection_id_for_stats" value="<%= @collection.id %>">
<dl class="metadata-collections">
  <dt>Total Items</dt>
  <dd id="item-count"><%= image_tag 'loading.gif', size: '30' %></dd>
  <dt>Size</dt>
  <dd id="byte-count"><%= image_tag 'loading.gif', size: '30' %></dd>


</dl>