<span class="input-group-btn">
  <a tabindex="0" class="btn btn-default" role="button" aria-label="Help" title="<%= title %>" data-toggle="popover" data-placement="left" data-trigger="focus" data-container="body" data-content="<%= content %>"><span class="glyphicon glyphicon-question-sign"></span></a>
</span>