<h3>Import Preview</h3>
<div class="owl-carousel">
  <% @preview_objects.each do |row_number, preview_object| %>
    <div>
      <div class='row'>

        <div class='col-md-2'>
          <% if preview_object[:image_filename].first.blank? %>
            <%= image_tag 'placeholder-200x200.png', width: '100%' %>
          <% else %>
            <%= image_tag(image_preview_import_path(import, row_number), width: '100%' ) %>
          <% end %>
        </div>

        <div class='col-md-9 well'>
          <% preview_object.each do |key, value| %>
            <div class="col-md-6 col-xs-12">
              <strong><%= key.to_s.gsub('_', ' ').titleize %>: </strong>
              <%= truncate value.reject(&:blank?).join(', ') %>
            </div>     
          <% end %>
        </div>

      </div>

    </div>
  <% end %>
</div>




