<ul class="jqueryFileTree" style="display: none;">
  <% @directories.each do |name| %>
    <li class="directory collapsed"><a href="#" rel="<%= "#{@dir}#{name}/" %>"><%= name %></a></li>
  <% end %>
</ul>