<%= f.text_field :name, :label => 'Role name', class: 'form-control' %>
<!-- <h4>Permissions</h4> -->
<%#= f.check_box :can_delete, :label => "Hard Delete" %>
<%#= f.check_box :can_manage_records, :label => "Create, Upload, Edit, Soft Delete" %>
<%#= f.check_box :can_manage_groups, :label => "Group Management within assigned Units" %>
<%#= f.check_box :can_manage_admin_sets, :label => "Admin Set Management within assigned Units" %>
<%#= f.check_box :can_edit_metadata_only, :label => "Edit Metadata Only" %>
<%#= f.check_box :can_edit_users, :label => "Edit Users within assigned Units" %>